@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,900);
*, *::after, *::before {
  box-sizing: border-box;
}
body{
  font-size: 13pt;
  color: #504B4B;
}
.navbar-default {
  font-size: 12pt;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
  padding-top: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  .navbar-nav>li>a,.navbar-brand{
    color: white;
  }
  .navbar-nav>li>a:hover,.navbar-brand:hover{
    color: #DCDCDC;
  }
}
.fixed-nav{
  font-size: 12pt;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background: url('http://res.cloudinary.com/dt2mntbmf/image/upload/v1457500801/goprint_uugeql.jpg') no-repeat center center;
  background-size: cover;
  z-index: 2;
  padding-bottom: 10px;
  box-shadow: 0px 0px 3px 0px black;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Raleway","Helvetica Neue", sans-serif;
}
header.secondary{
  background: url('http://res.cloudinary.com/dt2mntbmf/image/upload/v1457500801/goprint_uugeql.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding-top: 200px;
  padding-bottom: 80px;
  margin-top: -102px;
}
header.primary{
  background: url('http://res.cloudinary.com/dt2mntbmf/image/upload/v1457500801/goprint_uugeql.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: -102px;
  .container{
    p{
      font-size: 22px;
      font-weight: 200;
      color: #D6D6D6;
    }
  }
}
.featured{
  .col-md-4{
    padding: 65px;
  }
}
.nice-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}
.b{
  .col-sm-6{
    padding: 0px 90px;
  }
}

.icon-block{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  margin: 0 auto;
  position: relative;
  i.fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.devices{
  // background-color: #1B6195;
  // color: white;
}
.join{
  background-color: #F3F3F3;
}
.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 100px;
  color: #B5B5B5;
  font-size: 11pt;
  background-color: #26313C;
  hr {
      border-top: 1px solid #44596F;
  }
}

input, textarea, .btn, select {
    border-radius: 2px !important;
}

table.table.table-striped{
  text-align: center;
  th{
    text-align: center;
  }
}

.profile-block{
  em{
    color: #A5A5A5;
  }
  .saldo{
    font-family: "Raleway","Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 28pt;
    label{
      font-size: 10pt;
      display: block;
      margin-top: 10px;
      margin-bottom: -11px;
    }
  }
}